.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-template-areas: 
        "h h h h h h h h h h h h" 
        "t t c c c c c c c c c c" 
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    background-color: aqua;
}

.tree {
    grid-area: t;
    background-color: coral;
}

.content {
    grid-area: c;
    background-color: mediumspringgreen;
}

.footer {
    grid-area: f;
    background-color: darkgoldenrod;
}
