header {
    background-color: aqua;
}

footer {
    background-color: darkgoldenrod;
}

.container_home {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4fr 1fr;
    grid-template-areas: "t t c c c c c c c c c c" "ti ti c c c c c c c c c c";
}

.tree {
    grid-area: t;
    background-color: coral;
}

.tree_item {
    grid-area: ti;
    background-color: chartreuse;
}

.content {
    grid-area: c;
    background-color: mediumspringgreen;
}

.link-button {
    background: none;
    border: none;
    color: #0066ff;
    text-decoration: underline;
    cursor: pointer;
}