@model Repository.Vendor

<div class="content">
    <form asp-action="Update" asp-controller="Vendors" asp-antiforgery="true">
        <div>
            <div>
                <label asp-for="Id"></label>
                <input asp-for="Id" />
            </div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>