@model IEnumerable<Repository.Vendor>

<div class="content">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Vendors", item)</td>
            </tr>
        }
    </table>
</div>